
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    
    @*<style>
            body {
                background-color: black;
                color: white;
            }

            #btn_goInsert {
                margin-left: 48%;
            }

            .btn {
                width: 100px;
                height: 50px;
                background-color: #00FA9A;
            }

                .btn:hover {
                    background-color: #00FFFF;
                }
        </style>*@
</head>

<body>
    <h1>主畫面</h1>
    <input type="button" id="btn_goInsert"  value="新增測資" />
    <input type="button" id="btn_goTest"  value="開始測驗" />

</body>
</html>

<script>
    $('#btn_goInsert').click(function () {
        window.location.href = "/Letter/Insert";
    });

    $('#btn_goTest').click(function () {
        window.location.href = "/Letter/Test";
    });

</script>
