@*(1)多提醒輸入的單字的英文與中文*@
@* 小房子也要問是否回到index *@
@* (2)如果可以 加聲音檔 *@
@{
    ViewBag.Title = "Insert";
}

<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>
    <h1>新增</h1>
    <div class="form-horizontal">
        <div class="form-group ">
            <div>
                <b class="control-label col-md-2 font_size">中文</b>
                <table>
                    <tr>
                        <td>
                            <input class="form-control " type="text" id="input_ch" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-group ">
            <div>
                <b class="control-label col-md-2 font_size">英文</b>
                <table>
                    <tr>
                        <td>
                            <input class="form-control " type="text" id="input_en" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-group ">
            <div>
                <b class="control-label col-md-2 font_size">例句</b>
                <table>
                    <tr>
                        <td>
                            <textarea class="form-control " id="input_sample"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-group ">
            <div>
                <b class="control-label col-md-2 font_size">翻譯</b>
                <table>
                    <tr>
                        <td>
                            <textarea class="form-control " id="input_translation"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        @* (2) *@
    </div>
    <input type="button" id="btn_insert" class="middle btn" value="新增" />
    <input type="button" id="btn_goIndex" class="btn" value="回到主頁" />
</body>
</html>

<script>
    //新增確認
    $('#btn_insert').click(function () {
        if (confirm("確定要新增嗎?"))
        {
            alert("新增成功");
            //(1)
        }
        else
        {
            alert("請重新輸入");
        }
        window.location.href = "/Letter/Insert";

    });

    //回主頁確認
    $('#btn_goIndex').click(function () {
        if (confirm("確定要回到主頁嗎?")) {
            window.location.href = "/Letter/Index";
        }
        else {
            alert("繼續輸入");
        }

    });

</script>
