@{
    ViewBag.Title = "Test";
}

<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>
    <h1>測驗</h1>
    <table width="100%"  border="1" class="table_style">
        <tr >
            <td width="10%" height="50px"></td>
            <td  class="font_size" width="40%" >題目</td>
            <td  class="font_size" width="40%">答案</td>
        </tr>

        <tr>
            <td class="font_size" height="50px">1</td>
            <td></td>
            <td  ><input class="input_style"  id="answer1" value="點擊輸入答案"/></td>
        </tr>

        <tr>
            <td class="font_size" height="50px">2</td>
            <td></td>
            <td><input class="input_style" id="answer2" value="點擊輸入答案" /></td>
        </tr>

        <tr>
            <td class="font_size" height="50px">3</td>
            <td></td>
            <td><input class="input_style" id="answer3" value="點擊輸入答案" /></td>
        </tr>

        <tr>
            <td class="font_size" height="50px">4</td>
            <td></td>
            <td><input class="input_style" id="answer4" value="點擊輸入答案" /></td>
        </tr>

        <tr>
            <td class="font_size" height="50px">5</td>
            <td></td>
            <td><input class="input_style" id="answer5" value="點擊輸入答案" /></td>
        </tr>

        <tr>
            <td class="font_size" height="50px">6</td>
            <td></td>
            <td><input class="input_style" id="answer6" value="點擊輸入答案" /></td>
        </tr>

        <tr>
            <td class="font_size" height="50px">7</td>
            <td></td>
            <td><input class="input_style" id="answer7" value="點擊輸入答案" /></td>
        </tr>

        <tr>
            <td class="font_size" height="50px">8</td>
            <td></td>
            <td><input class="input_style" id="answer8" value="點擊輸入答案" /></td>
        </tr>

        <tr>
            <td class="font_size" height="50px">9</td>
            <td></td>
            <td><input class="input_style" id="answer9" value="點擊輸入答案" /></td>
        </tr>

        <tr>
            <td class="font_size" height="50px">10</td>
            <td></td>
            <td><input class="input_style" id="answer10" value="點擊輸入答案" /></td>
        </tr>


    </table>
    <div>
        <input type="button" id="btn_carryout" class="middle btn" value="交卷" />
        <input type="button" id="btn_goIndex" class="btn" value="回到主頁" />
    </div>
</body>
</html>

<script>
    //確定是否交卷
    $('#btn_carryout').click(function () {
        if (confirm("確定要交卷嗎?"))
        {
            alert("交卷成功");
            window.location.href = "/Letter/Grade";
        }
        else
        {
            alert("繼續作答");
        }

    });
    //確認是否回到主頁
    $('#btn_goIndex').click(function () {
        if (confirm("確定要回到主頁嗎?"))
        {
            window.location.href = "/Letter/Index";
        }
        else {
            alert("繼續作答");
        }

    });

    $('.input_style').click(function () {
        var input_id = $(this).attr('id');
        $(this).val("");
    });

</script>

