@{
    ViewBag.Title = "Test";
}

<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>
    <h1>測驗</h1>
    <input type="button" id="btn_carryout" value="交卷" />
    <input type="button" id="btn_goIndex" value="回到主頁" />
</body>
</html>

<script>
    $('#btn_carryout').click(function () {
        if (confirm("確定要交卷嗎?"))
        {
            alert("交卷成功");
            window.location.href = "/word/Grade";
        }
        else
        {
            alert("繼續作答");
        }

    });

    $('#btn_goIndex').click(function () {
        if (confirm("確定要回到主頁嗎?"))
        {
            window.location.href = "/word/Index";
        }
        else {
            alert("繼續作答");
        }
        
    });

</script>

